body {
  letter-spacing: 1px;
}
@hideMenu: 240px;
@acpmenuBg:#31373d;

#admin-page {
  width: 100%;
  padding:0;
  .fa {
    margin-right:10px;
  }
  .sidenav {
    background: @acpmenuBg;
    min-height:100%;
    position: fixed;
    width: @hideMenu;
    -webkit-transition: all 0.6s; /* Safari */
    transition: all 0.6s;
    .main-group-item {
      padding:20px 10px;
      background: #202327!important;
    }
    .list-group-item {
      background: @acpmenuBg;
      color:#d2dae1;
      border:none;
      .fa {
        line-height: 22px;
      }
    }
    li:hover, a:hover, a:focus {
      color:#fff;
      text-decoration: none;
    }
  }
  .main-content {
    margin-left: @hideMenu;
  }
  .head-content,.jumbotron {
    width:100%;
    float:left;
  }
  .head-content {
    background: #fff;
    .menu-arrow {
      display:none;
      float:left;
      padding:22px 16px 22px 24px;
      border-right:1px solid #f1f1f1;
      &:hover {
        background:#f1f1f1;
      }
    }
    .menu-title {
      float:left;
      padding:10px;
    }
  }
  .jumbotron {
    border-radius:0;
    background-image: url('../images/admin-dashboard.png');
    background-size: cover;
  }
}
@media (max-width: 768px) {
  #admin-page {
    .menu-arrow {
      display: block !important;
    }
    .sidenav {
      margin-left:-@hideMenu;
      }
      .main-content {
        margin-left:0;
      }
    }
    .sidenav-active {
      margin-left:0 !important;
    }
    .move-head {
      margin-left:@hideMenu;
    }
}
