<div class="container" id="seller-page">


  <div class="main-content add-product">
    <div class="head-content">
      <div class="menu-title">
        <img class="brand-logo" src="../images/storelogo.png">
      </div>
      <div class="menu-proccess">
        <ol class="process-arrow">
          <a href="#"><li><span class="badge">1</span> Design</li></a>
          <a href="#"><li><span class="badge">2</span> Sell or order products</li></a>
          <a href="#"><li><span class="badge">3</span> Review</li></a>
        </ol>
      </div>
    </div>

    <div class="container">

    </div>


  </div>
</div>
