<div class="container" id="seller-page">


  <div class="main-content add-product">
    <div class="head-content">
      <div class="menu-title">
        <img class="brand-logo" src="../images/storelogo.png">
      </div>
      <div class="menu-proccess">
        <ol class="process-arrow">
          <a href="#"><li><span class="badge">1</span> Design</li></a>
          <a href="#"><li><span class="badge">2</span> Sell or order products</li></a>
          <a href="#"><li><span class="badge">3</span> Review</li></a>
        </ol>
      </div>
    </div>

    <div class="main-section">
      <div class="left-side col-md-3">
        <h4>Add to canvas</h4>
        <p>Write text or upload an image to be placed on your product</p>
        <div class="btn-group">
          <button type="button" class="btn-group-enter btn btn-success">
            <i class="fa fa-font"></i>
            <span>Text</span>
          </button>
          <button type="button" class="btn-group-enter btn btn-success">
            <i class="fa fa-asterisk"></i>
            <span>Symbol</span>
          </button>
          <button type="button" class="btn-group-enter btn btn-success">
            <i class="fa fa-image"></i>
            <span>Image</span>
          </button>
        </div>
        <hr>
        <h4>Selected products</h4>
        <p>You can select multiple different products and color. Click on individual products for preview</p>
      </div>
      <div class="col-md-6">2</div>
      <div class="col-md-3">3</div>
    </div>


  </div>
</div>
