<ul class="list-group">
  <li class="main-group-item list-group-item">
    <img src="../images/storelogo.png">
    <a class="menu-button" href="#"><i class="pull-right aleft fa fa-close sr-only"></i></a>
  </li>
  <a href="/scp/product"><li class="list-group-item"><i class="fa fa-dashboard"></i>My campaigns</li></a>
  <a href="#"><li class="list-group-item"><i class="fa fa-file-text-o"></i>Stores</li></a>

</ul>

