
<div class="container" id="admin-page">
  <aside class="sidenav">
    <%- partial ('menu-side.ejs') %>
  </aside>

  <div class="main-content">
    <div class="well"><a class="menu-button" href="#"><i class="aright fa fa-chevron-right pull-left"></i></a>
      <h5><i class="fa fa-dashboard"></i><span class="name-param">Dashboard</span></h5>
    </div>

    <div class="jumbotron text-center"><h3>Welcome to Nodeify , Khanh</h3></div>







  </div>
</div>
