
<div class="container" id="admin-page">
  <aside class="sidenav">
    <%- partial ('menu-side.ejs') %>
  </aside>

  <div class="main-content">
    <div class="head-content">
      <div class="col-sm-3">
        <a class="menu-button" href="#"><i class="aright fa fa-chevron-right pull-left"></i></a>
      </div>
      <div class="col-sm-9">
        <h5><i class="fa fa-dashboard"></i><span class="name-param">Dashboard</span></h5>
      </div>
    </div>

    <div class="jumbotron text-center"><h3>Welcome to Nodeify , Khanh</h3></div>







  </div>
</div>
