<ul class="list-group">
  <li class="main-group-item list-group-item">
    <span>NODESHOPI</span>
    <a class="menu-button" href="#"><i class="pull-right aleft fa fa-close sr-only"></i></a>
  </li>
  <a href="/acp"><li class="list-group-item" name="Dashboard"><i class="fa fa-dashboard"></i>Dashboard</li></a>
  <a href="/acp/order"><li class="list-group-item" name=""><i class="fa fa-file-text-o"></i>List orders</li></a>
  <a class="product-option" href="#" data-toggle="collapse" data-target="#list-child"><li class="list-group-item" name="">
      <i class="fa fa-tag"></i>Products<i class="pull-right fa fa-chevron-right"></i></li></a>
  <ul class="collapse list-group" id="list-child">
    <a href="/acp/product?p=sample"><li class="list-group-item"><i class="fa fa-angle-double-right "></i>Product sample</li></a>
    <a href="/acp/product?p=option"><li class="list-group-item"><i class="fa fa-angle-double-right "></i>Product option</li></a>
  </ul>
  <a href="/acp/seller"><li class="list-group-item" name=""><i class="fa fa-users"></i>Sellers</li></a>
  <a href="/acp/transactions"><li class="list-group-item" name=""><i class="fa fa-list-alt"></i>Transactions</li></a>
  <a href="/acp/member"><li class="list-group-item" name=""><i class="fa fa-user-plus"></i>Members</li></a>
  <a href="/acp/report"><li class="list-group-item" name=""><i class="fa fa-files-o"></i>Report</li></a>
  <a href="/acp/system"><li class="list-group-item" name=""><i class="fa fa-gears"></i>System</li></a>
  <!--<a href="/admin/promote#"><li class="list-group-item"><i class="fa fa-certificate"></i> Promotion</li></a>-->
</ul>


<ul class="list-group">

  <a href="/acp/member"><li class="list-group-item" name=""><i class="fa fa-files-o"></i>Report</li></a>
  <a href="/acp/member"><li class="list-group-item" name=""><i class="fa fa-gears"></i>System</li></a>
  <!--<a href="/admin/promote#"><li class="list-group-item"><i class="fa fa-certificate"></i> Promotion</li></a>-->
</ul>
