<div class="container" id="admin-page">
  <aside class="sidenav">
    <%- partial ('menu-side.ejs') %>
  </aside>

  <div class="main-content">
    <div class="head-content">
      <a class="menu-button" href="#">
        <div class="menu-arrow aright text-center">
          <i class="fa fa-chevron-right pull-left"></i>
        </div>
      </a>
      <a class="menu-button" href="#">
        <div class="sr-only menu-arrow aleft text-center">
          <i class="fa fa-chevron-left pull-left"></i>
        </div>
      </a>
      <div class="menu-title">
        <h4><span class="name-param">Order</span></h4>
      </div>
    </div>

    <div class="detail-content" id="order-page">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Order</th>
          <th>Date</th>
          <th>Customer</th>
          <th>Payment</th>
          <th>Fulfillment</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td><a href="#">#1534</a></td>
          <td>Dec 30 2016</td>
          <td>Khanh Tran</td>
          <td>Paid</td>
          <td>Fulfilled</td>
          <td>$134.00</td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href="#">#1533</a></td>
          <td>Dec 30 2016</td>
          <td>Tam Du</td>
          <td>Paid</td>
          <td>Unfulfilled</td>
          <td>$53.00</td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="#">#1532</a></td>
          <td>Dec 31 2016</td>
          <td>Ton Le</td>
          <td>Paid</td>
          <td>Unfulfilled</td>
          <td>$59.00</td>
        </tr>


        </tbody>
      </table>
    </div>





  </div>
</div>
